body{
  background-color:lightgrey;


}
#btn{
  width:200px;
  height:200px;
  background-color: blue;
  border-radius: 30%;
  margin:30px auto 0;
  text-align: center;
  line-height: 200px;
  color:#fff;
  font-size: 42px;
  font-weght:bold;
  cursor:pointer;
  box-shadow: 0 10px  0 lightblue;
  user-select: none;
}
#btn:hover{
  opacity:0.9;
}
#btn.pressed{
  box-shadow: 0 5px  0 lightblue;
  margin-top: 35px;
}

p{
  text-align: center;
  font-size:20px;
  font-weight: bold;

}
